.fimg{
    width: 690px;
    height: 690px;
    position: relative;
    left: 658px;
    margin-top: -380px;
}
.phase3{
    font-size: 16px;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    padding: 6px 12px 6px 12px;
    background-color: rgba(247, 247, 247, 1);
    border-radius: 4px;
    width:60px;
    height: 28px;
    position: relative;
    left:100px;
    top: -600px;
}
.full{
    font-size: 40px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    position: relative;
    left: 100px;
    top: -630px;
}
.f1{
    color:rgba(239, 239, 232, 1); 
    font-size: 16px;
    font-weight: 400;
    position: relative;
    left: 108px;
    top: -630px;
 }

 .ffill{
    position: relative;
    right: 10px;
}