body {
  background-color: rgba(0, 22, 29, 1);
}
.h1 {
  color: rgba(255, 255, 255, 1);
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}
.p {
  color: rgba(176, 250, 255, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
.p1 {
  color: rgba(176, 250, 255, 0.7);
  text-align: center;
  margin-top: -14px;
  font-size: 16px;
  font-weight: 400;
}
.box {
  width: 744px;
  height: 400px;
  background-color: rgba(8, 37, 42, 1);
  border-radius: 20px;
  margin: auto;
}
.read {
  width:85px;
  padding: 9px 15px 9px 9px;
  background-color: rgba(205, 252, 255, 1);
  color: rgba(11, 42, 45, 1);
  border: px solid rgba(76, 221, 253, 1);
  box-shadow: 1.5px 0px 6px rgba(76, 221, 253, 1) inset,
    -1.5px 0 6px rgba(76, 221, 253, 1) inset,
     0 -1.5px 6px rgba(76, 221, 253, 1) inset,
    0 1.5px 6px rgba(76, 221, 253, 1) inset; 

  font-size: 17px;
  font-weight: 500;
  border-radius: 8px;
  margin-left: 633px;
  padding-top: 8px;
  padding-left: 8px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.a > img {
  position: relative;
  top: 63px;
  left: -310px;
}
.a > p,
.a > h3 {
  color: rgba(176, 250, 255, 0.7);
  position: relative;
  top: 63px;
  left: -310px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-right: 500px;
}
.a > p {
  font-size: 16px;
  font-weight: 400;
}
.a > h3 {
  font-size: 18px;
  font-weight: 500;
}
.b > img {
  position: relative;
  top: -79px;
  left: 35px;
}
.b > p,
.b > h3 {
  color: rgba(176, 250, 255, 0.7);
  position: relative;
  top: -80px;
  left: 33px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-right: 500px;
}
.b > h3 {
  font-size: 18px;
  font-weight: 500;
}
.b > p {
  font-size: 16px;
  font-weight: 400;
}

.c > img {
  position: relative;
  top: -75px;
  left: 70px;
}

.c > p,
.c > h3 {
  color: rgba(176, 250, 255, 0.7);
  position: relative;
  top: -80px;
  left: 67px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-right: 500px;
}
.c > h3 {
  font-size: 18px;
  font-weight: 500;
}
.c > p {
  font-size: 16px;
  font-weight: 400;
}
.d > img {
  position: relative;
  top: -232px;
  left: 387px;
}
.d > p,
.d > h3 {
  color: rgba(176, 250, 255, 0.7);
  position: relative;
  top: -240px;
  left: 380px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-right: 470px;
}
.d > h3 {
  font-size: 18px;
  font-weight: 500;
}
.c > d {
  font-size: 16px;
  font-weight: 400;
}
