
body {
    background-color: #00161d;
}

.parent {
  display: grid;
  gap: .5vw;
 width: 100%;
 align-items: center;
 margin-left:70px;
}

.child1 {
  height: 360px;
  width: 208px;
  grid-row-start: 1;
  grid-row-end: 3;

  border: 1px solid rgba(29, 206, 242, 0.2);
  background-color: #08252A;
 padding: 72px 37px 32px 37px ;
  border-top-left-radius: 56px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;

}

.child1 img{
  margin-left: 50px;
}
.child1 p{
  margin-left: 20px;
  margin-top: 35px;
  color: rgba(176, 250, 255, 0.7);
}
.child1 h3{
  margin-left: 20px;
  margin-top: 45px;
  color: rgba(255, 255, 255, 1);
}




.child2 {
  grid-column-start: 2;
  grid-column-end: 3;
  height: 189px;
  width: 599px;
  border: 1px solid rgba(29, 206, 242, 0.2);
  background-color: #08252A;
  border-radius: 16px;
}
.child2 h3{
  color: rgba(255, 255, 255, 1);
  margin-left: 40px;
}
.child2 p{
  color: rgba(176, 250, 255, 0.7);
  margin-right:300px;
  margin-left: 40px;
}
.arrow{
  position: relative;
  left: 520px;
  bottom: 40px;
}

.a{
  position: relative;
  left: 380px;
  bottom: 32px;
}
.b{
  position: relative;
  left: 350px;
  bottom: 32px;
}

.child3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  height: 360px;
  width: 208px;
  border: 1px solid rgba(29, 206, 242, 0.2);
  background-color: #08252A;
  padding: 72px 37px 32px 37px ;
  border-top-right-radius: 56px;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;

}
.child3 img{
    height: 220px;
    width: 220px;
    position: relative;
    top: -43px;
    left:-14px;
}
.child3 p{
  color: rgba(176, 250, 255, 0.7);
  position: relative;
  top: -50px;
  left:9px;

}
.child3 h3{
  color:rgba(255, 255, 255, 1);
  position: relative;
  top: -40px;
  left: 39px;
  font-family: sans-serif;
}



.child4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 260px;
  width: 599px;
  border: 1px solid rgba(29, 206, 242, 0.2);
  background-color: #08252A;
  border-radius:16px;
  /* box-shadow: 2px 2px 2px 2px inset rgba(29, 206, 242, 0.2); */

  box-shadow: 1.5px 0 rgba(29, 206, 242, 0.2) inset, -1.5px 0 rgba(29, 206, 242, 0.2) inset,
  0 1.5px rgba(29, 206, 242, 0.2) inset, 0 -1.5px rgba(29, 206, 242, 0.2) inset;
  
}

.child5 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  height: 240px;
  width: 500px;
  border: 1px solid rgba(29, 206, 242, 0.2);
  background-color: #08252A;
  border-radius: 1vw;
  border-bottom-left-radius: 56px;
}

.child5 h3{
  color:rgba(255, 255, 255, 1);
  position: relative;
  left:50px;
  top: 22px;
}
.child5 p{
  color: rgba(176, 250, 255, 0.7);
  position: relative;
  margin-right:280px;
  left: 50px;
  top: 20px;
}




.child6 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
  height: 238px;
  width: 670px;
  border: 1px solid rgba(29, 206, 242, 0.2);
  background-color: #08252A;
  position: relative;
  right: 25.5vw;
  border-radius: 1vw;
  margin-left:-38px;
  border-bottom-right-radius: 56px;
}
.child6 h3{
  color:rgba(255, 255, 255, 1);
  position: relative;
  left:50px;
  top: 22px;
}

.child6 p{
  color: rgba(176, 250, 255, 0.7);
  position: relative;
  margin-right:380px;
  left: 50px;
  top: 20px;
}
.child6 img{
  position: relative;
  height: 225px;
  width: 225px;
  left: 465px;
  bottom: 195px;

}

